{% extends 'base.html' %}

{% block content %}

<table class="table mt-5 pt-5">
  <thead>
    <tr>
      <th scope="col">ICAO24</th>
      <th scope="col">Callsign</th>
      <th scope="col">Origin Country</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for aircraft in airplanes %}
    <tr>
      <td>{{aircraft.icao24}}</td>
      <td>{{aircraft.callsign}}</td>
      <td>{{aircraft.origin_country}}</td>
      <td>{{aircraft.longitude}}</td>
      <td>{{aircraft.latitude}}</td>
      <td><button class="btn btn-primary btn-lg btn-block mt-3" role="button" onclick="window.open('/airplane/{{aircraft.icao24}}')">Show more</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}